#about{
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #2f3542;
  margin-bottom: 4em;
}

#about2{
  padding-bottom: 3em;
  margin-bottom: 4em;
}

.aboutHeader{

  color: #2F3542;

}

.aboutText{

  color: #2F3542;

}
