.green{
  background-color: #20bf6b;
}

.greenButton{
  background-color: #20bf6b;
  border-color: #20bf6b;
}

.greenButton:hover{
  background-color: #26de81;
  border-color: #26de81;
}

.white{
  color: #ffffff;
  opacity: .5;
}

.white:hover{
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}

.addMargins{
  margin: 5px 10px 2px 10px;
}

#video {
  position: inherit;
  object-fit: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoSection{
  width: 100vw;
  height: 70vh;
}

.icon{
  width: 100%;
  height: 100%;
}

.iconHidden{
  width:100%;
  height:100%;
  opacity: .20;
}

.iconRow{
  text-align: center;
  margin: 1em 0px 1em 0px;
}

.text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.thumbnail{
  padding: .5em .5em 0em .5em;
}
