.modalsIconRow{
  align-content: center;
}

.modalsIcon{
  width:2.3em;
  height:2.3em;
}

.modalsHeaderTextOrb{
  text-align: center;
  color: #1E90FF;
}

.modalsHeaderTextPerkSpot{
  text-align: center;
  color: #5590af;
}

.modalsHeaderTextMichiganFishing{
  text-align: center;
  color: #FEBF13;
}

.modalsHeaderTextBSI{
  text-align: center;
  color: #6c5ce7;
}

.modalsHeaderTextSOP{
  text-align: center;
  color: #1193F5;
}

.modalsHeaderTextLF{
  text-align: center;
  color: #1ABC9C;
}

.modalsHeaderTextTCC{
  text-align: center;
  color: #2ECC71;
}

.modalsHeaderTextSami{
  text-align: center;
  color: #E64B3B;
}

.modalsHeaderTextFASA{
  text-align: center;
  color: #FED330;
}

.modalsHeaderTextWQ{
  text-align: center;
  color: #30336B;
}

.modalsHeaderTextEAT{
  text-align: center;
  color: #A4B0BE;
}

.modalsHeaderTextWWYT{
  text-align: center;
  color: #FF6B81;
}

.modalsHeaderTextES{
  text-align: center;
  color: #BDC3C7;
}

.modalsHeaderTextSC{
  text-align: center;
  color: #BDC3C7;
}

.modalsHeaderTextRPD{
  text-align: center;
  color: #BDC3C7;
}

.modalsBackgroundOrb{
  background-color: rgba(30, 144, 255, 0.5);
}

.modalsBackgroundPerkSpot{
  background-color: rgba(85, 144, 175, 0.5);
}

.modalsBackgroundMichiganFishing{
  background-color: rgba(254, 191, 19, 0.5);
}

.modalsBackgroundBSI{
  background-color: rgba(108, 92, 231, 0.5);
}

.modalsBackgroundSOP{
  background-color: rgba(17, 147, 245, 0.5);
}

.modalsBackgroundLF{
  background-color: rgba(26, 188, 156, 0.5);
}

.modalsBackgroundTCC{
  background-color: rgba(46, 204, 113, 0.5);
}

.modalsBackgroundSami{
  background-color: rgba(230, 75, 59, 0.5);
}

.modalsBackgroundFASA{
  background-color: rgba(254, 211, 48, 0.5);
}

.modalsBackgroundWQ{
  background-color: rgba(48, 51, 107, 0.5);
}

.modalsBackgroundEAT{
  background-color: rgba(164, 176, 190, 0.5);
}

.modalsBackgroundWWYT{
  background-color: rgba(255, 107, 129, 0.5);
}

.modalsBackgroundES{
  background-color: rgba(189, 195, 199, 0.5);
}

.modalsBackgroundSC{
  background-color: rgba(189, 195, 199, 0.5);
}

.modalsBackgroundRPD{
  background-color: rgba(189, 195, 199, 0.5);
}


#OrbLogos{
  color:#747d8c;
  cursor:pointer;
}

#OrbChrome{
  cursor:pointer;
}

#PSChrome{
  cursor:pointer;
}

#PSMiscellaneous{
  color: #747d8c;
  cursor:pointer;
}

#MFLogos{
  cursor:pointer;
}

#MFProducts{
  color: #747d8c;
  cursor:pointer;
}

#MFWebsite{
  color: #747d8c;
  cursor:pointer;
}

#MFMiscellaneous{
  color: #747d8c;
  cursor:pointer;
}

#BSIChrome{
  cursor:pointer;
}

#BSILogos{
  color: #747d8c;
  cursor:pointer;
}

#BSIWebsite{
  color: #747d8c;
  cursor: pointer;
}

#SOPLogos {
  cursor: pointer;
}

#SOPFliers {
  color: #747d8c;
  cursor: pointer;
}

#SOPWebsite {
  color: #747d8c;
  cursor: pointer;
}

#SOPMiscellaneous {
  color: #747d8c;
  cursor:pointer;
}

#SamiWebsite{
  cursor:pointer;
}

#SamiLogos{
  color:#747d8c;
  cursor:pointer;
}

#carouselSOPModal3 {
  display: none;
}

#carouselSOPModal4 {
  display: none;
}

#carouselSOPModal5 {
  display: none;
}

#carouselBSIModal2 {
  display: none;
}

#carouselBSIModal3 {
  display: none;
}

#carouselMichiganFishingModal2{
  display: none;
}

#carouselMichiganFishingModal3{
  display: none;
}

#carouselMichiganFishingModal4{
  display: none;
}

#carouselPerkSpotModal2{
  display: none;
}

#carouselOrbModal2{
  display:none;
}

#carouselSamiModal2{
  display:none;
}
