#projects{
  padding-top: 4em;
  padding-bottom: 5em;
  margin-bottom: 4em;
}

.projectsIconRow{
  width: inherit;
  overflow: hidden;
}

.projectsIcon{
  width:2.3em;
  height:2.3em;
}

.card:hover {
    transform: scale(1.05);
}

.card-body{
  text-decoration: none !important;
  color: inherit !important;
}

.card-body:focus{
  outline: none !important;
}

.projectsThumbnail:focus{
  outline: none !important;
}

.projectsHr{
  max-width: 50px;
  border-width: 3px;
  border-color: #2f3542;
}

.projectsHeader{
  color: #2f3542;
}
